html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #e5e5e5;
  font-family: "Poppins", sans-serif;
}

@media (max-width: 768px) {
  header {
    background-color: #ffffff;
    border-radius: 0 0 0 5rem;
  }

  nav {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    justify-items: center;
    background-color: #ffffff;
  }

  nav a {
    text-decoration: none;
    color: #6070ff;
  }

  nav #menu {
    margin-top: 0.8rem;
    color: #6070ff;
    font-size: xx-large;
  }

  #hero {
    padding: 2rem;
    background: url("/images/Ellipse\ 3.png"), url("/images/Rectangle\ 4.png"),
      url("/images/Ellipse\ 5.png");
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: top right, left, bottom;
    background-size: 4rem;
    padding-bottom: 6rem;
  }

  #hero h1 {
    font-size: 40px;
    font-weight: 700;
    line-height: 52px;
    color: #172b4d;
    display: flex;
  }

  #bio {
    color: #344563;
  }

  #social p {
    text-transform: uppercase;
    color: #7f8cff;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
  }

  #social ul {
    list-style: none;
    display: flex;
    padding-left: 0;
  }

  #social ul li a {
    margin: 0 0.4rem;
    color: #505f79;
    font-size: large;
  }
}
